# Python
__pycache__/
*.py[cod]
*$py.class

# Temporary scripts
tempCodeRunnerFile.py
_run.py
_run_accuracy.py
tracker_run.py
test.py

# Large ML models
face_landmarker.task

# Generated Logs, Data & Reports
*.csv
*.png
typed_text_*.txt
usage_stats.json

# If you specifically wanted to ignore these from before:
quiz_module.py
readme.md
requirements.txt
